@use "base";

.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10; // Sit on top

	display: none; // Hidden by default
	width: 100%;
	height: 100%;
	overflow: hidden;

	background-color: black; // Fallback color
	background-color: rgba(0, 0, 0, 0.6); // Black w/ opacity
}

// Modal Content/Box
.modal-content {
	position: absolute;
	right: 0;
	left: 0;
	z-index: 11;

	display: none;
	width: 60%;
	margin: 10% auto;
	padding: 10px;

	background-color: #776666;
	border: 3px solid white;
	box-shadow: 3px 3px 5px 3px base.$dark-gray;
}

.modal-title {
	margin-bottom: 10px;

	color: white;
	font: 48px base.$font-title;
	text-align: center;
	text-shadow: 2px 2px 5px base.$dark-gray;
}

// Error message that appears in modal boxes.
.errorMsg {
	display: none; 	// Hidden by default, appears after an error occurs.
	margin: 5px 0px;

	color: #882222;
	font: 22px base.$font-title;
	text-shadow: 1px 1px 2px base.$dark-gray;
}

// Basic divider
.divider {
	margin-left: 20px;

	border-left: 3px solid white;
}

// Default formatting for option titles.
.option-title {
	margin: 10px 0px;

	color: white;
	font: 36px base.$font-title;
	text-align: center;
	text-shadow: 2px 2px 5px base.$dark-gray;
}

// Shared formatting for the "Back" and "Close" buttons
%modal-nav-button {
	position: absolute;
	top: -20px;			// Overhang the top section of the box

	width: 30px;
	height: 30px;

	color: white;
	font-weight: bold;
	font-size: 28px;
	text-align: center;

	border: 2px solid white;
	box-shadow: 3px 3px 5px 1px base.$dark-gray;
	cursor: pointer;

	&:hover,
	&:focus {
		color: black;
		text-decoration: none;

		background: #aa0000;
	}
}

// The "Close" button
.close {
	@extend %modal-nav-button;
	right: -20px;

	background: red;

	&:hover,
	&:focus {
		background: #aa0000;
	}
}


// The "Back" button
.back {
	@extend %modal-nav-button;
	left: -20px;

	background: blue;

	&:hover,
	&:focus {
		background: #0000cc;
	}
}

/* ---------- Create Room Modal Box ---------- */

// Default styles
.createRoomModal {
	width: 900px;

	input {
		font: 28px base.$font-title;
	}

	label {
		display: inline-block;
	}
}

// Left half of the Room Options menu.
#createRoomOptionsLeft {
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: auto auto auto;
	grid-template-rows: auto auto auto;
	-ms-grid-columns: 40% 60%;
	grid-template-columns: 40% 60%;
}

// Labels on the right half, fixed width to give illusion of table
.roomOptionLabel {
	width: 300px;
}

// Input boxes on the right half
.roomOptionInput {
	width: 95px;
}

// Selector between Tsu and Fever modes.
#modeSelector {
	-ms-grid-row: 1;
	grid-row: 1;
	-ms-grid-column: 1;
	grid-column: 1;
	margin: 0px auto;

	img {
		width: 115px;
		height: 115px;

		cursor: pointer;
		-webkit-filter: drop-shadow(2px 5px 5px base.$dark-gray);
		filter: drop-shadow(2px 5px 5px base.$dark-gray);
	}
}

// Input boxes for the number of rows and columns.
#boardSizeSelector {
	-ms-grid-row: 1;
	grid-row: 1;
	-ms-grid-column: 2;
	grid-column: 2;

	margin: auto 0px;

	label {
		width: 125px;
		margin-top: 15px;

		font: 28px base.$font-title;
	}

	input[type="number"] {
		width: 75px;
	}
}

// Selector for player count
#roomSizeSelector {
	-ms-grid-row: 2;
	grid-row: 2;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-column: 1 / span 2;
}

#coloursSelector {
	-ms-grid-row: 3;
	grid-row: 3;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-column: 1 / span 2;
}

// Horizontal flexbox containing buttons to select number of players
#playerButtons {
	display: flex;
	justify-content: center;
}

// Each button is a span except "5", which accepts a user-inputted size
.numPlayerButton {
	display: inline-block;
	flex: 0 0 70px;
	margin: 5px 10px;
	padding: 2px;

	color: #aaaaaa;			// darkened while unselected
	font: 28px base.$font-title;
	text-align: center;

	background: #274e13;	// dark green
	border: 3px solid gray;
	box-shadow: 2px 2px 3px 1px base.$dark-gray;
	cursor: pointer;

	// The selected button
	&.selected {
		color: white;

		background: #38761d;	// light green
		border: 3px solid white;
		box-shadow: 3px 3px 5px 1px base.$dark-gray;
	}
}

// Formatting required to override normal style of input boxes
input.numPlayerButton {
	width: 80px;
	max-width: 80px;

	text-shadow: 2px 2px 5px base.$dark-gray;
}

// Option title for selecting number of colours.
#coloursSelectorTitle {
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 10px;

	font-size: 36px;
}

// Input box for selecting number of colours.
#numColours {
	width: 65px;

	// On its own, so it deserves a larger font size
	font-size: 36px;
	vertical-align: top;
}

// Display of colours currently selected.
#coloursSelected {
	display: inline-flex;			// Evenly space the images in a flexbox, but share the space with the input field
	justify-content: space-around;
	padding: 5px 0px;

	img {
		flex: 0 0 45px;
		height: 45px;
		margin: 0px 10px;

		-webkit-filter: drop-shadow(2px 3px 5px base.$dark-gray);

		filter: drop-shadow(2px 3px 5px base.$dark-gray);
	}
}

// Submit button for Create Room.
#createRoomSubmit {
	@extend %submit-button;
	background: #663388;
}

/* ---------- Join Room Modal Box ---------- */

#joinRoomModal {
	width: 30%;
	margin-top: 20%;

	input {
		font: 36px base.$font-title;

		border-width: 3px;
	}
}

// Uneditable text that illustrates the "?joinRoom=" prefix.
#joinRoomFiller {
	width: 225px;
	margin: 10px -10px 10px 0px;

	color: white;
	text-align: right;

	border-right: 0px;		// delete the right border for no seam
}

// The actual input box for joinId.
#joinId {
	width: 200px;
	margin: 10px 0px 10px -10px;

	text-align: left;

	border-left: 0px;		// delete the left border for no seam
}

// Submit button for Join Room.
#joinRoomSubmit {
	@extend %submit-button;
	background: #2233bb;
}

/* ---------- CPU Options Modal Box ---------- */

#cpuOptionsModal {
	width: 850px;
}

.cpu-container {
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: auto auto auto;
	grid-template-rows: auto auto auto;
	-ms-grid-columns: auto auto;
	grid-template-columns: auto auto;
	padding: 0px 10px;
}

// A container for one set of CPU options.
.cpuOption {
	display: none;
	-ms-grid-rows: auto auto;

	grid-template-rows: auto auto;
	-ms-grid-columns: 100px fit-content(150px) auto auto;
	grid-template-columns: 100px fit-content(150px) auto auto;
	margin: 5px 10px;
	padding: 10px;

	img {
		-ms-grid-row: 1;
		-ms-grid-row-span: 2;

		grid-row: 1 / span 2;
		-ms-grid-column: 1;
		grid-column: 1;
		width: 100px;
		height: 100px;

		-webkit-filter: drop-shadow(2px 3px 5px base.$dark-gray);

		filter: drop-shadow(2px 3px 5px base.$dark-gray);
	}
}

// Label indicating the purpose of the AI dropdown menu
.aiLabel {
	-ms-grid-row: 1;
	grid-row: 1;
	-ms-grid-column: 2;
	grid-column: 2;
	margin: 5px 0px;
	padding-right: 15px;

	font-size: 28px;
	text-align: right;
}

// Label indicating the CPU speed slider
.speedLabel {
	-ms-grid-row: 2;
	grid-row: 2;
	-ms-grid-column: 2;
	grid-column: 2;
	margin: 5px 0px;
	padding-right: 15px;

	font-size: 28px;
	text-align: right;
}

// A numeric representation of the speed slider.
.speedDisplay {
	z-index: 2;

	-ms-grid-row: 1;

	-ms-grid-row-span: 2;

	grid-row: 1 / span 2;
	-ms-grid-column: 1;
	grid-column: 1;
	margin: auto;

	font-size: 32px;
}

// The CPU speed slider
.cpuSpeedSlider {
	-ms-grid-row: 2;
	grid-row: 2;
	-ms-grid-column: 3;
	grid-column: 3;
}

#cpuOptionsSubmit {
	@extend %submit-button;
	background: #38761d;
}

/* ---------- User Settings Modal Box ---------- */

// Input boxes for DAS and ARR. Since they are alone, they can be larger.
.dasArrInput {
	width: 100px;

	font-size: 36px;
}

// Sliders for volume, skipFrames, etc.
#settingsSliders {
	label {
		margin: 20px 0px 10px;
	}

	input[type="range"] {
		width: 90%;
		margin-bottom: 15px;
	}
}

// Since "Intermediate Frames Shown" is a mouthful.
#skipFramesLabel {
	font-size: 28px;
}

#settingsDivider {
	-ms-grid-column: 2;
	grid-column: 2;
}

// The container for the key bindings section. (3 rows x 2 columns)
.keyBindings {
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: auto auto auto;
	grid-template-rows: auto auto auto;
	-ms-grid-columns: auto auto;
	grid-template-columns: auto auto;

	margin-right: 15px;

	form {
		margin-bottom: 0px;
	}

	label {
		width: 155px;

		font-size: 24px;
		text-align: right;
	}

	input[type="button"] {
		width: 50px;
		padding: 2px 0px;

		font-size: 24px;
	}
}

// The container for turning ghost drop and chain highlighting on.
.ghostHighlightOptions {
	margin-top: 25px;

	label {
		margin-bottom: 5px;

		font-size: 24px;
	}

	input[type="button"] {
		width: 75px;

		font-size: 28px;
	}
}

// Icons for each spritesheet.
.appearanceIcon {
	width: 50px;
	height: 50px;

	-webkit-filter: drop-shadow(2px 3px 5px base.$dark-gray);

	filter: drop-shadow(2px 3px 5px base.$dark-gray) grayscale(80%) brightness(40%);

	// Add colour to the selected appearance
	&.selected {
		filter: drop-shadow(2px 3px 5px base.$dark-gray);
	}
}

#settingsSubmit {
	@extend %submit-button;
	background-color: #741b47;
}
