language: node_js
node_js: 
  - "12.16.1"
addons:
  apt:
    packages:
      # Ubuntu 16+ does not install this dependency by default, so we need to install it ourselves
      - libgconf-2-4
cache:
  # Caches $HOME/.npm when npm ci is default script command
  # Caches node_modules in all other cases
  npm: true
  directories:
    # we also need to cache folder with Cypress binary
    - ~/.cache
install:
  - npm ci
script:
  - npm test
  - npm run uglify & npm run uglify_limited
  - npm run sass_prod
  - npm run autoprefix_prod
  - node server.js & wait-on http://localhost:3000
  - $(npm bin)/cypress run --record
