html {
	margin: 0px;
	padding: 0px;
	background-image:url("images/backgrounds/Forest 04.jpg");
	background-size: cover;
	background-position: center;
}

body {
	margin: 0px;
	background-color: rgba(60, 60, 60, 0.5);
	height: 100%;
	width: 100%;
}

canvas {
	background: rgba(40, 40, 40, 0.8);
	margin: 0px 10px 0px 0px;
	border: 4px solid white;
}

form {
	font: 40px "Chelsea Market", sans-serif;
	text-shadow: 2px 2px 5px #343434;
	color: white;
	text-align: center;
	margin: 0px 0px 10px 0px;
}

label {
	font: 32px "Chelsea Market", sans-serif;
	color: white;
	text-align: center;
}

#createRoomModal label {
	width: 300px;
}

input {
	background: gray;
	color: white;
	border: 2px solid white;
}

#createRoomModal input {
	font: 28px "Chelsea Market", sans-serif;
}

#joinRoomModal input {
	font: 36px "Chelsea Market", sans-serif;
	border-width: 3px;
}

::placeholder {
	color: gray;
}

input[type="text"], input[type="number"] {
	color: white;
	background: #343434;
	padding: 2px;
	width: 95px;
	box-shadow: 3px 3px 5px 1px #343434;
	margin: 3px 0px;
	text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="text"]#joinIdFiller {
	border-right: 0px;
	color: white;
	margin: 10px -10px 10px 0px;
	text-align: right;
	width: 155px;
}

input[type="text"]#joinId {
	border-left: 0px;
	margin: 10px 0px 10px -10px;
	width: 200px;
	text-align: left;
}

input[type="submit"] {
	margin: 15px 0px 0px 0px;
	box-shadow: 3px 3px 5px 1px #343434;
	padding: 5px 10px;
	cursor: pointer;
}

input[type="submit"]#createRoomSubmit {
	background: #663388;
}

input[type="submit"]#joinRoomSubmit {
	background: #2233bb;
}

input[type="button"] {
	background: #676767;
	box-shadow: 3px 3px 5px 1px #343434;
	padding: 2px 15px;
	margin: 3px 0px;
	cursor: pointer;
}

input[type="button"]#hardDrop.off {
	background: #770000;
}

input[type="button"]#hardDrop.on {
	background: #007700;
}

.errorMsg {
	font: 22px "Chelsea Market", sans-serif;
	color: #882222;
	display: none;
	margin: 5px 0px;
}

.nuisanceQueue {
	background: rgba(240, 240, 240, 0.2);
	margin: none;
	border: none;
}

/* Horizontal flexbox, contains the panels and is used as the basis for the dropdown menus. */
#navbar {
	display: flex;
	position: relative;
	background-image: linear-gradient(#212121, #000000);
	box-shadow: 0px 0px 10px 2px black;
	margin-bottom: 30px;
}

/* Spacer used to indent the panels. */
#navbarSpacer {
	flex: 0 0 30px;
	box-shadow: 5px 0px 5px -5px;
	z-index: 999;
}

#logo {
	font: 18px "Chelsea Market", sans-serif;
	text-align: right;
	flex: 1 1 1100px;
	color: white;
	padding: 5px 15px 0px 0px;
}

/* Panel containing icon, title and dropdown menu. Default state is "minimized", which only contains the icon. */
.navPanel {
	font: 28px "Chelsea Market", sans-serif;
	flex: 0 0 80px;
	display: flex;
	position: relative;

	/* Hide the text so that it transitions intead of jumping. */
	overflow: hidden;
	transition: all 200ms ease-in-out;
	box-shadow: 10px 0px 10px -5px, -10px 0px 10px -5px;
	z-index: 2;
	cursor: pointer;
}

/* Expanded panel to show the panel title. */
.navPanel.expanded {
	flex: 0 0 250px;
}
/* Singleplayer panel requires more space due to having a longer title. */
#singleplayerPanel.expanded {
	flex: 0 0 320px;
}

/* Background gradients for the panels. */
#queuePanel {
	background-image: linear-gradient(#254620, #052a00);
	z-index: 5;
}
#customPanel {
	background-image: linear-gradient(#453421, #2a1600);
	z-index: 4;
}
#singleplayerPanel {
	background-image: linear-gradient(#273245, #001e2a);
	z-index: 3;
}
#profilePanel {
	background-image: linear-gradient(#381d3c, #24002a);
}

/* Icon of the panel. Always displayed. */
.navIcon {
	height: 60px;
	margin: 5px 10px;
	flex: 0 0 60px;
}

/* Title of the panel. */
.panelName {
	display: block;
	padding: 5px 20px 5px 10px;
	color: white;
}

/* Special sizing for the first letter of the title. */
.panelName::first-letter {
	font-size: 46px;
}

/* Vertical flexbox containing links. */
.dropdown {
	flex: 1 0 0px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background: #434343;
	cursor: pointer;

	/* Set initial dimensions for the transition. */
	height: 0px;
	width: 70px;
	transition: all 200ms ease-in-out;
	box-shadow: none;

	/* Float the dropdown menu so it doesn't take up space, and move it below the panels. */
	position: fixed;
	margin-top: 70px;
}

/* Expand the dropdown menu when the navigation panel is expanded. The heights are modified in Javascript.*/
.navPanel.expanded > .dropdown {
	width: 250px;
	box-shadow: 0px 2px 15px 2px, 0px 7px 5px -5px black inset;
}
#singleplayerPanel.expanded > .dropdown {
	width: 320px;
}

/* Hide the dropdown links before the navigation panel is expanded. */
.dropdown a {
	flex: 0 0 0px;
	font-size: 20px;
	color: white;
	text-decoration: none;
	padding: 5px 0px 5px 15px;
	display: none;
}

/* The first dropdown item has some extra margin due to the shadow taking up space. */
.dropdown a:first-child {
	padding: 7px 0px 5px 15px;
}

/* Display the links when the navigation panel is expanded. */
.navPanel.expanded > .dropdown a {
	flex: 0 0 30px;
	display: block;
}

/* Darken the background of a link on hover. */
.dropdown a:hover {
	background: #212121;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 10; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: hidden;
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #887777;
	display: none;
	position: absolute;
	margin: 10% auto; /* 15% from the top and centered */
	border: 3px solid white;
	box-shadow: 3px 3px 5px 1px #343434;
	left: 0;
	right: 0;
	width: 60%;
	padding: 10px;
	z-index: 11;
}

.modal-title {
	font: 48px "Chelsea Market", sans-serif;
	text-shadow: 2px 2px 5px #343434;
	margin-bottom: 10px;
	color: white;
	text-align: center;
}

.modal-options {
	display: none;
	position: relative;
}

.divider {
	border-left: 3px solid white;
	margin-left: 20px;
}

.option-title {
	font: 36px "Chelsea Market", sans-serif;
	text-shadow: 2px 2px 5px #343434;
	margin: 10px 0px;
	color: white;
	text-align: center;
}

#createRoomOptionsLeft {
	display: block;
	width: 45%;
}

#createRoomOptionsTopLeft {
	display: flex;
}

#joinRoomModal {
	width: 25%;
	margin-top: 20%;
}

#createRoomOptionsRight {
	display: block;
	width: 54%;
}

#createRoomOptionsRight label {
	width: 300px;
	display: inline-block;
}

#modeSelector {
	padding: 0px 25px 0px 15px;
}

#modeSelector img {
	width: 115px;
	height: 115px;
	filter: drop-shadow(2px 5px 5px #343434);
	cursor: pointer;
}

#boardSizeSelector label {
	font: 28px "Chelsea Market", sans-serif;
	width: 125px;
	display: inline-block;
}

#boardSizeSelector input[type="number"] {
	width: 75px;
}

#boardSizeSelector label:first-child {
	margin-top: 45px;
}

#boardSizeSelector label {
	margin-top: 15px;
}

#playerButtons {
	display: flex;
	justify-content: space-around;
}

#playerButtons span, #playerButtons input {
	font: 28px "Chelsea Market", sans-serif;
	color: #aaaaaa;
	flex: 0 0 70px;
	padding: 2px;
	text-align: center;
	margin: 5px;
	background: #274e13;
	border: 3px solid gray;
	box-shadow: 2px 2px 3px 1px #343434;
	display: inline-block;
	cursor: pointer;
}

#playerButtons .selected {
	background: #38761d;
	border: 3px solid white;
	color: white;
	box-shadow: 3px 3px 5px 1px #343434;
}

#playerButtons input {
	width: 80px;
	text-shadow: 2px 2px 5px #343434;
}

#createRoomModal #numColours {
	font-size: 36px;
	vertical-align: top;
	width: 65px;
}

#coloursSelectorTitle {
	font-size: 36px;
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 10px;
}

#coloursSelected {
	padding: 5px 0px;
	display: inline-flex;
	justify-content: space-around;
	width: 250px;
}

#coloursSelected img {
	height: 45px;
	flex: 0 0 45px;
	filter: drop-shadow(2px 3px 5px #343434);
}

/* The Close Button */
.close {
	color: white;
	position: absolute;
	background: red;
	text-align: center;
	right: -20px;
	top: -20px;
	width: 30px;
	height: 30px;
	border: 2px solid white;
	box-shadow: 3px 3px 5px 1px #343434;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover, .close:focus {
	color: black;
	background: #aa0000;
	text-decoration: none;
}

.pointsDisplay {
	width: 270px;
    font: 52px "Chelsea Market", sans-serif;
    color: white;
    text-align: center;
    display: table;
}

table#playArea {
    margin-left:auto;
    margin-right:auto;
}
