html {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
}

/* Horizontal flexbox, contains the panels and is used as the basis for the dropdown menus. */
#navbar {
	display: flex;
	position: relative;
	background-image: linear-gradient(#212121, #000000);
}

/* Spacer used to indent the panels. */
#navbarSpacer {
	flex: 0 0 30px;
}

/* Panel containing icon, title and dropdown menu. Default state is "minimized", which only contains the icon. */
.navPanel {
	font: 28px "Chelsea Market", sans-serif;
	flex: 0 1 80px;
	display: flex;
	position: relative;

	/* Hide the text so that it transitions intead of jumping. */
	overflow: hidden;
	transition: all 200ms ease-in-out;
}

/* Expanded panel to show the panel title. */
.navPanel.expanded {
	flex: 0 0 250px;
}
/* Singleplayer panel requires more space due to having a longer title. */
#singleplayerPanel.expanded {
	flex: 0 0 320px;
}

/* Background gradients for the panels. */
#queuePanel {
	background-image: linear-gradient(#254620, #052a00);
}

#customPanel {
	background-image: linear-gradient(#453421, #2a1600);
}

#singleplayerPanel {
	background-image: linear-gradient(#273245, #001e2a);
}

#profilePanel {
	background-image: linear-gradient(#381d3c, #24002a);
}

/* Icon of the panel. Always displayed. */
.navIcon {
	height: 60px;
	margin: 10px;
	flex: 0 0 60px;
}

/* Title of the panel. */
.panelName {
	display: block;
	padding: 11px 20px 11px 10px;
	color: white;
}

/* Special sizing for the first letter of the title. */
.firstLetter {
	font-size: 46px;
}

/* Vertical flexbox containing links. */
.dropdown {
	flex: 1 0 0px;
	display: flex;
	flex-direction: column;
	background: #434343;

	/* Set initial dimensions for the transition. */
	height: 0px;
	width: 80px;
	transition: all 200ms ease-in-out;

	/* Float the dropdown menu so it doesn't take up space, and move it below the panels. */
	position: fixed;
	margin-top: 80px;
	z-index: 1;
}

/* Expand the dropdown menu when the navigation panel is expanded. The heights are modified in Javascript.*/
.navPanel.expanded > .dropdown {
	width: 250px;
}

#singleplayerPanel.expanded > .dropdown {
	width: 320px;
}

/* Hide the dropdown links before the navigation panel is expanded. */
.dropdown a {
	flex: 0 0 0px;
	font-size: 20px;
	color: white;
	text-decoration: none;
	padding: 5px 0px 5px 15px;
	display: none;
}

/* Display the links when the navigation panel is expanded. */
.navPanel.expanded > .dropdown a {
	flex: 0 0 30px;
	display: block;
}

/* Darken the background of a link on hover. */
.dropdown a:hover {
	background: #212121;
}

h1 {
    font: 24px "Chelsea Market", sans-serif;
    text-align: center;
}

p {
    font: 12px "Chelsea Market", sans-serif;
    text-align: center;
}

.numDisplay {
    font: 12px "Chelsea Market", sans-serif;
    text-align: center;
}

table#playArea {
    margin-left:auto;
    margin-right:auto;
}
