h1 {
    font: 24px Trebuchet, sans-serif;
    text-align: center;
}

p {
    font: 12px Trebuchet, sans-serif;
    text-align: center;
}

.numDisplay {
    font: 12px Trebuchet, sans-serif;
    text-align: center;
}

table#playArea {
    margin-left:auto;
    margin-right:auto;
}
