$font-title: "Chelsea Market", sans-serif;
$dark-gray: #343434;
$error-colour: #550000;
$text-drop-shadow: 2px 2px 5px $dark-gray;
$box-drop-shadow: 3px 3px 5px 1px $dark-gray;
$larger: 1.2rem;
$smaller: 0.86rem;

$alphabet: ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"];

// Uncomment to add borders on elements. Can be useful in determining which elements are taking up what space.
// * {
//   border: 1px solid #f00 !important;
// }

html {
	margin: 0px;
	padding: 0px;

	font-size: 1.6vw;

	font-family: "Chelsea Market", sans-serif;

	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

body {
	margin: 0px;

	background-color: rgba(60, 60, 60, 0.5);	// Dark gray filter on background
}

main {
	display: flex;
	flex-direction: column;
	height: 100%;		// Take up entire height instead of fitting to size

	overflow: auto;
}

canvas {
	margin: 0px 10px 0px 0px;

	background: rgba(40, 40, 40, 0.8);
	border: 4px solid white;
}

ul {
	padding-left: 0px;

	list-style: none;
}

form {
	margin-bottom: 10px;

	color: white;
	text-align: center;
	text-shadow: $text-drop-shadow;
}

label {
	display: inline-block;

	color: white;
	font: $larger $font-title;
	text-align: center;
}

input {
	margin: 3px 0px;
	padding: 2px;

	color: white;
	font: 1rem $font-title;
	text-align: center;

	background: $dark-gray;
	border: 2px solid white;
	box-shadow: $box-drop-shadow;
}

// Formatting for placeholder text in input fields.
::placeholder {
	color: gray;
}

// Hide the scroll bars on number inputs (Chrome).
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	margin: 0;

	-webkit-appearance: none;
}

// Hide the scroll bars on number inputs (Firefox).
input[type="number"] {
	-moz-appearance: textfield;
}

// Shared formatting between form submission buttons.
%submit-button {
	display: block;
	margin: 15px auto 10px;
	padding: 4px 20px;

	cursor: pointer;
}

input[type="button"] {
	background: #676767;
	cursor: pointer;

	&.off {
		background: #770000;
	}

	&.on {
		background: #007700;
	}
}

input[type="range"] {
	width: 100%;
	height: 2px;
	margin: auto 0px;
	padding: 0px;

	background: white;
	outline: none;
	box-shadow: 1px 1px 3px 1px $dark-gray;

	-webkit-appearance: none;		// Hide default formatting (Chrome)
}

// The clicky-thing on a range slider
::-webkit-slider-thumb {
	width: 20px;
	height: 20px;

	background: url("../images/modal_boxes/puyo_gray.png");
	background-size: contain;
	border: 0;
	cursor: pointer;
	backdrop-filter: drop-shadow(0px 0px 15px $dark-gray);

	-webkit-appearance: none;
}

::-moz-range-thumb {
	width: 20px;
	height: 20px;

	background: url("../images/modal_boxes/puyo_gray.png");
	background-size: contain;
	border: 0;
	cursor: pointer;
	backdrop-filter: drop-shadow(0px 0px 15px $dark-gray);

	appearance: none;
}

button {
	color: white;
	font: $larger $font-title;

	background: gray;
	border: 2px solid white;
	box-shadow: $box-drop-shadow;
	cursor: pointer;
}

// The built-in HTML dropdown wrapper element
select,
datalist {
	margin: 5px 0px;

	padding: 0px 5px;

	color: white;
	font: $smaller $font-title;

	background: $dark-gray;
	box-shadow: $box-drop-shadow;
}

footer {
	color: white;
	text-align: center;

	text-shadow: $text-drop-shadow;
}

// Justified flexbox.
.justify-flexbox {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 10px;

	&.vertical {
		flex-direction: column;
	}
}

// Horizontally and vertically centre-aligned element
%absolute-centre {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}

// Grid layout split into 2 columns, with a divider
.left-right-container {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 47% 3% 50%;
}

// Basic divider
.divider {
	&.vertical {
		border-left: 3px solid white;
	}

	&.horizontal {
		border-bottom: 3px solid white;
	}
}

// A form with all its labels taking up an entire line.
.block-form {
	label {
		display: block;
	}
}

// Used for storing hidden information in HTML.
.hiddenInfo {
	display: none;
}
