@use "base";

.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10; // Sit on top

	display: none; // Hidden by default
	width: 100%;
	height: 100%;
	overflow: hidden;

	background-color: black; // Fallback color
	background-color: rgba(0, 0, 0, 0.6);
}

// Modal Content/Box
.modal-content {
	@extend %absolute-centre;
	z-index: 11;

	display: none;
	width: 60%;
	padding: 10px;

	background-color: #776666;
	border: 3px solid white;
	box-shadow: base.$box-drop-shadow;
}

.modal-title {
	margin-bottom: 10px;

	color: white;
	font: 2rem base.$font-title;
	text-align: center;
	text-shadow: base.$text-drop-shadow;
}

// Error message that appears in modal boxes.
.errorMsg {
	display: none; 	// Hidden by default, appears after an error occurs.
	margin: 5px 0px;

	color: base.$error-colour;
	font: 0.75rem base.$font-title;
	text-align: center;
	text-shadow: 1px 1px 2px base.$dark-gray;
}

// Default formatting for option titles.
.option-title {
	margin: 10px 0px;

	color: white;
	font: 1.28rem base.$font-title;
	text-align: center;
	text-shadow: base.$text-drop-shadow;
}

// Shared formatting for the "Back" and "Close" buttons
%modal-nav-button {
	position: absolute;
	top: -0.65rem;			// Overhang the top section of the box

	width: 1rem;
	height: 1rem;

	color: white;
	font-weight: bold;
	font-size: 1rem;
	line-height: 1rem;		// Vertically align the text
	text-align: center;

	border: 2px solid white;
	box-shadow: base.$box-drop-shadow;
	cursor: pointer;

	&:hover,
	&:focus {
		color: black;
		text-decoration: none;

		background: #aa0000;
	}
}

// The "Close" button
.close {
	@extend %modal-nav-button;
	right: -0.65rem;

	background: red;

	&:hover,
	&:focus {
		background: #aa0000;
	}
}


// The "Back" button
.back {
	@extend %modal-nav-button;
	left: -0.65rem;

	background: blue;

	&:hover,
	&:focus {
		background: #0000cc;
	}
}

#modal-login {
	display: block;

	background-color: rgba(0, 0, 0, 0.8);
}

#usernamePicker {
	display: none;
	width: 30%;
}

#usernamePickerInput {
	margin-top: 15px;
}

#usernamePickerText {
	font-size: 1.25rem;
}

#usernamePickerSubmit {
	margin-top: 15px;
	padding: 2px 10px;

	background-color: #496082;
}

/* ---------- Create Room Modal Box ---------- */

// Left half of the Room Options menu.
#createRoomOptionsLeft {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: 40% 60%;
}

#createRoomDivider {
	margin-left: 20px;
}

// Selector between Tsu and Fever modes.
#modeSelector {
	grid-row: 1;
	grid-column: 1;
	margin: 0px auto;

	img {
		display: block;
		width: 65%;
		margin: 0px auto;

		cursor: pointer;
		filter: drop-shadow(2px 5px 5px base.$dark-gray);
	}
}

// Input boxes for the number of rows and columns.
#boardSizeSelector {
	display: grid;
	grid-gap: 15px 10px;
	grid-row: 1;
	grid-column: 2;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 6fr 4fr;
	height: 70%;

	margin: auto 0px;

	label {
		margin: auto 0px;
	}

	input[type="number"] {
		width: 75%;

		font-size: base.$larger;
	}
}

// Selector for player count
#roomSizeSelector {
	grid-row: 2;
	grid-column: 1 / span 2;
}

#coloursSelector {
	grid-row: 3;
	grid-column: 1 / span 2;
}

// Horizontal flexbox containing buttons to select number of players
#playerButtons {
	display: flex;
	justify-content: center;
	margin-bottom: 0px;
}

// Each button is a span except "5", which accepts a user-inputted size
.numPlayerButton {
	display: inline-block;
	flex: 0 0 15%;
	width: 100%;
	min-width: 0%;
	margin: 5px 10px;
	padding: 2px;

	color: #aaaaaa;			// darkened while unselected
	font: 1rem base.$font-title;
	text-align: center;

	background: #274e13;	// dark green
	border: 3px solid gray;
	box-shadow: 2px 2px 3px 1px base.$dark-gray;		// Smaller shadow while deselcted
	cursor: pointer;

	// The selected button
	&.selected {
		color: white;

		background: #38761d;	// light green
		border: 3px solid white;
		box-shadow: base.$box-drop-shadow;
	}

	&.disabled {
		color: #bbbbbb;

		background: #464646;
	}
}

// Formatting required to override normal style of input boxes
input.numPlayerButton {
	flex-basis: 17.5%;

	text-shadow: base.$text-drop-shadow;
}

// Option title for selecting number of colours.
#coloursSelectorTitle {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 10px;

	font-size: 1.28rem;
}

// Input box for selecting number of colours.
#numColours {
	width: 2em;
	padding: 4px 8px;

	// On its own, so it deserves a larger font size
	font-size: 1.28rem;
	vertical-align: top;
}

// Display of colours currently selected.
#coloursSelected {
	display: inline-flex;			// Evenly space the images in a flexbox, but share the space with the input field
	justify-content: space-around;
	width: 65%;
	margin-left: 10px;
	padding: 5px 0px;

	img {
		width: 17%;
		margin: 0px 10px;

		filter: drop-shadow(2px 3px 5px base.$dark-gray);
	}
}

#createRoomOptionsAdvanced {
	display: grid;
	grid-gap: 5px 10px;
	grid-template-rows: repeat(7, 1fr);
	grid-template-columns: 75% 25%;

	.roomOptionInput {
		width: 75%;
		height: 90%;
	}

	.roomOptionLabel {
		margin: auto 0px;
	}
}

// Submit button for Create Room.
#createRoomSubmit {
	@extend %submit-button;

	grid-column: 1 / span 2;

	background: #663388;
}

/* ---------- Give Join ID Modal Box ---------- */

#giveJoinId {
	width: 500px;

	color: white;
	font: 1rem base.$font-title;
	text-align: center;
}

#joinIdLink {
	width: 85%;

	font-size: 20px;
}

#copyJoinId {
	padding: 2px 6px;

	font-size: 20px;
}

#joinIdCopied {
	display: none;

	color: #dedede;
	font-size: 22px;
}

/* ---------- Join Room Modal Box ---------- */

#joinRoomModal {
	width: 30%;

	input {
		font: 1.28rem base.$font-title;

		border-width: 3px;
	}
}

#joinIdInput {
	display: grid;
	grid-template-columns: 54% 46%;
	margin-top: 3%;
	padding: 0px 10%;
}

// Uneditable text that illustrates the "?joinRoom=" prefix.
#joinRoomFiller {
	width: 100%;

	color: white;
	text-align: right;

	border-right: 0px;		// delete the right border for no seam
}

// The actual input box for joinId.
#joinId {
	width: 100%;

	text-align: left;

	border-left: 0px;		// delete the left border for no seam
}

// Submit button for Join Room.
#joinRoomSubmit {
	@extend %submit-button;
	background: #2233bb;
}

/* ---------- Spectate Room Modal Box ---------- */

#spectateRoomModal {
	width: 30%;
}

// Error message (invisible at first).
#spectateFormError {
	display: none;
}

// The datalist containing room ids.
#roomList {
	margin-top: 10px;
}

#roomPlayers {
	margin-top: 10px;

	font-size: 24px;
}

// Submit button for the Spectate menu.
#spectateSubmit {
	@extend %submit-button;
	background: #439375;

	// Disabled when there are no rooms to spectate.
	&.disable {
		color: #afafaf;

		background: #575757;
	}
}

/* ---------- CPU Options Modal Box ---------- */

#cpuOptionsModal {
	padding: 0.5%;
}

.cpu-container {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: auto auto;
	margin: auto 0px;
	padding: 0px 10px;
}

// A container for one set of CPU options.
.cpuOption {
	display: none;
	grid-gap: 0px 3%;

	grid-template-rows: auto auto;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) 2fr;
	margin: 1.5% 3%;
	padding: 3%;

	img {
		grid-row: 1 / span 2;
		grid-column: 1;
		width: 100%;
		margin: auto;

		filter: drop-shadow(2px 3px 5px base.$dark-gray);
	}
}

// Label indicating the purpose of the AI dropdown menu
.aiLabel {
	grid-row: 1;
	grid-column: 2;
	margin: 5px 0px;
	padding-right: 15px;

	font-size: 1rem;
	text-align: right;
}

// Label indicating the CPU speed slider
.speedLabel {
	grid-row: 2;
	grid-column: 2;
	margin: 5px 0px;
	padding-right: 15px;

	font-size: 1rem;
	text-align: right;
}

// A numeric representation of the speed slider.
.speedDisplay {
	z-index: 2;

	grid-row: 1 / span 2;
	grid-column: 1;
	margin: auto;

	font-size: base.$larger;
}

// The CPU speed slider
.cpuSpeedSlider {
	grid-row: 2;
	grid-column: 3;
}

// Visual indicator that appears when there are no CPUs in the room
#cpuOptionsEmpty {
	width: 85%;
	margin: 0 auto;
	padding: 5%;

	color: white;
	font: base.$larger base.$font-title;

	text-align: center;

	background: #554444;
}

// Buttons to add/remove/set CPUs
#cpuOptionsButtons {
	display: grid;
	grid-template-columns: auto auto auto;

	button {
		@extend %submit-button;
	}
}

#cpuOptionsAdd {
	background: #68569d;
}

#cpuOptionsSubmit {
	background: #38761d;
}

#cpuOptionsRemove {
	background: #88244d;
}

/* ---------- Room Password Modal Box (setting) ---------- */

#roomPasswordModal {
	width: 40%;
}

#roomPassword {
	margin: 0.5rem 0px;
}

#roomPasswordSubmit {
	padding: 2px 5px;

	background: #38661d;
}

/* ---------- Join Room Password Modal Box (joining) ---------- */

#joinRoomPasswordModal {
	width: 40%;
}

#joinRoomPassword {
	margin: 0.5rem 0px;
}

#joinRoomPasswordSubmit {
	padding: 2px 5px;

	background: #48368d;
}

/* ---------- User Settings Modal Box ---------- */

// Input boxes for DAS and ARR. Since they are alone, they can be larger.
.dasArrInput {
	width: 3em;

	font-size: 1.28rem;
}

// Sliders for volume, skipFrames, etc.
#settingsSliders {
	label {
		margin: 20px 0px 10px;
	}

	input[type="range"] {
		width: 90%;
		margin-bottom: 15px;
	}
}

// Since "Intermediate Frames Shown" is a mouthful.
#skipFramesLabel {
	font-size: 1rem;
}

#settingsDivider {
	grid-column: 2;

	margin-left: 20px;
}

// The container for the key bindings section. (3 rows x 2 columns)
.keyBindings {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: auto auto;

	margin-right: 15px;

	form {
		display: grid;
		grid-gap: 0px 20px;
		grid-template-columns: 70% 30%;
		margin-bottom: 0px;
	}

	label {
		width: 100%;
		margin: auto 0px;

		font-size: base.$smaller;
		text-align: right;
	}

	input[type="button"] {
		width: 70%;
		padding: 2px 0px;

		font-size: base.$smaller;
	}
}

// The container for turning ghost drop and chain highlighting on.
.ghostHighlightOptions {
	margin-top: 25px;

	label {
		margin-bottom: 5px;

		font-size: base.$smaller;
	}

	input[type="button"] {
		width: 3em;

		font-size: 1rem;
	}
}

// Icons for each spritesheet.
.appearanceIcon {
	width: 11%;
	height: 11%;

	filter: drop-shadow(2px 3px 5px base.$dark-gray) grayscale(80%) brightness(40%);

	// Add colour to the selected appearance
	&.selected {
		filter: drop-shadow(2px 3px 5px base.$dark-gray);
	}
}

#settingsSubmit {
	@extend %submit-button;
	background-color: #741b47;
}
