@use "base";
@use "modal";

a {
	color: rgb(150, 150, 240);
}

// Titles for other pages
#pageTitle {
	padding: 10px 0px 10px 40px;

	color: white;
	font: 40px base.$font-title;
}

#text-content {
	margin: 3%;
	padding: 1em;

	color: white;
	font: 20px base.$font-title;

	background: rgba(40, 40, 40, 0.8);
	border: 2px solid white;
}

#gamesTracked {
	margin: 2rem auto 1rem;

	color: white;
	text-shadow: base.$text-drop-shadow;
}

// Gallery charts
#chartsWrapper {
	width: 85%;
	margin: 0px auto 1rem;
}

// The "Refresh" button
.refresh {
	@extend %modal-nav-button;
	left: -0.65rem;

	background: #00aa00;

	&:hover,
	&:focus {
		color: white;

		background: #00cc00;
	}
}

#charts {
	display: grid;
	grid-gap: 1.5rem;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 47.5% 47.5%;
	
	.ct-label {
		color: rgba(255, 255, 255, 0.8);
	}

	p {
		min-height: 3.5em;
		margin-bottom: 0.25rem;
		padding: 0px 20px;

		color: rgb(230, 230, 230);
		font-size: 0.75rem;
	}

	.ct-grid {
		stroke: rgb(255, 255, 255, 0.25);
	}
}

.chart {

	position: relative;

	box-sizing: border-box;
	height: 100%;
	padding: 20px 0px 5px;

	background: rgba(50, 50, 50, 0.8);
	border: 3px white solid;
	box-shadow: base.$box-drop-shadow;

	.ct-chart > svg {
		position: static;
	}
}

.chart-title {
	padding-left: 20px;

	color: white;
	font-size: 1.5rem;
	text-shadow: base.$text-drop-shadow;
}

.ct-axis-title {
	font-size: 0.6rem;

	fill: rgba(255, 255, 255, 0.8);
}

#splitData {
	.ct-line,
	.ct-point {
		stroke: #0197f6;
	}
}

$build-order-colours: [#595959, #808f85, #91c499, #f2e9dc, #cfd11a, #d29519];

#buildOrderData {
	.ct-area {
		fill-opacity: 100%;
	}

	@for $i from 1 through 6 {
		.ct-series-#{nth(base.$alphabet, $i)} {
			.ct-bar {
				stroke: nth($build-order-colours, $i);
				stroke-width: 11px;
			}
		}
		.ct-series-#{$i - 1}::before {
			background-color: nth($build-order-colours, $i);
		}
	}

	.ct-legend {
		display: flex;
		margin: -195px 0px 0px 50px;

		li {
			display: inline;
			flex: 0 1 100px;
		}
	}
}

#buildSpeedData {
	.ct-line,
	.ct-point {
		stroke: #b99753;
	}
}

$finesse-fault-colours: [#f46036, #2e294e, #1b998b, #e71d36, #b5986d];

#finesseFaultData {
	margin-top: -70px;
	margin-left: -120px;

	@for $i from 0 through 4 {
		.ct-series-#{$i}::before {
			background-color: nth($finesse-fault-colours, $i + 1);
		}

		.ct-series-#{nth(base.$alphabet, $i + 1)} .ct-slice-donut {
			stroke: nth($finesse-fault-colours, $i + 1);
		}
	}

	.ct-label {
		text-shadow: base.$text-drop-shadow;

		fill: rgba(255, 255, 255, 0.9);
	}
}

#finesseData {
	.ct-line,
	.ct-point {
		stroke: #cbdfbd;
	}
}

.ct-legend {
	position: relative;
	z-index: 10;

	li {
		position: relative;

		margin-bottom: 10px;
		padding-left: 23px;

		color: white;
		font-size: 0.75rem;
	}

	li::before {
		position: absolute;
		left: 0;

		width: 12px;
		height: 12px;

		border: 2px solid white;
		border-radius: 2px;

		content: "";
	}

	li.inactive::before {
		background: transparent;
	}

	&.ct-legend-inside {
		position: absolute;
		top: 95;
		right: -85;
	}
}
